.contenedor{
    // border: 2px dotted blue;
    // padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,50%);

    &__izquierda{
        // padding: 10px;
        width: 95%;
        margin: 0 0 0 3.5em;
        // border: 2px dotted rgb(24, 255, 24);

        h3{
            text-align: center;
            font-size: 1.4rem;
            margin: 25px 0 10px 0;
            text-transform: uppercase;;
        }

    }

    &__derecha{
        padding: 10px 10px 20px 10px;
        width: 95%;
        // border: 2px dotted yellow;
    }

}

@media (max-width: 400px){

    .contenedor{

        grid-template-columns: 100%;

        &__izquierda{
            margin: 0 auto;

            h3{
                font-size: 1.1rem;
            }

        }

    }

}

@media (max-width: 768px){

    .contenedor{

        &__izquierda{
            margin: 0 auto;

            h3{
                font-size: 1.1rem;
            }

        }

    }

}