.wrapper__grafo{
    // background-color: transparent;
    // border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    
    #red{
        background-color: white;
        border: 1px solid rgb(163, 163, 163);
        width: 99%;
        margin: 0 auto;
        height: 400px;
        box-shadow: 0px 5px 5px -2px $segundario;
        border-radius: 3px;
        border-top: 4px solid $principal;        
        
        .vis-network{
            outline: none;
        }
    
    }

}

.glide{
    // border: 1px solid blue;
    cursor: auto;
    .glide__track{
        border: 1px solid rgb(163, 163, 163);
        margin: 10px 0;
        padding: 0;
        height: 120px;
        // width: 100%;
        box-shadow: 0px 5px 5px -2px $segundario;
        border-radius: 5px;
        border-top: 4px solid $principal;

        .glide__slide{
            position: relative;
            border: 1.8px solid $segundario;
            height: 50px;
            margin: 5px 0;    
            // width: 50px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            font-size: 1.5rem;
            z-index: 50;
            transition: .1s ease;

            &.glide__slide--active{
                position: relative;
                background-color: $principal;
                // box-shadow: 0px 5px 10px 5px $segundario;
                transform: scale(1.05);
                transition: .1s ease;
                z-index: 100;
                color: white;
                // margin: 10px;
                outline: 2px solid rgb(47, 47, 255);
                border-radius: 2px;
            }
        }

        .señalador{
            text-align: center;
            height: 0;
            margin: 0 auto;

            img{
                position: relative;
                top: -17px;
            }

        }

    }

    .btns{
        display: none;
    }

}