@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

$principal: rgb(255, 42, 113);
$segundario: #191c22;

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

span{
    color: white;
}

.span_2{
    color: $principal;
}

@import 'navegacion';
@import 'cuerpo';
@import 'footer';

@import 'diagramas';