@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

$principal: rgb(255, 42, 113);
$segundario: #191c22;

@mixin botones {
    display: flex;
    text-decoration: none;
    // border: 1px solid teal;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
    cursor: pointer;
    z-index: 100;
    p{
        font-size: .8rem;
        margin: 0;
        font-weight: bold;
        transition: .2s ease;
        // text-align: left;
    }

    img{
        position: relative;
        top: -2px;
        left: 3px;
        height: 20px;
        width: 20px;
    }
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(240, 240, 240);
    // background-color: red;
    margin: 0;
    padding: 0;
}

span{
    color: white;
}

.span_2{
    color: $principal;
}

@import 'navegacion';
@import 'cuerpo';
@import 'footer';

@import 'diagramas';
@import 'settings';



@media (max-width: 1000px){

    .container{
        grid-template-columns: 1fr 1fr;
    }

}