.navegacion{
    display: flex;
    justify-content: space-between;
    height:80px;
    background-color: $principal;
    // background-image: linear-gradient(to right, #ff4a89, #ff4592, #ff409c, #ff3ca7, #ff3ab2, #ff3bb8, #ff3cbe, #ff3ec4, #ff42c5, #ff45c6, #ff49c7, #ff4cc8);
    color: $segundario;
    box-shadow: 0px 3px 5px 0px #252a34;

    &__izquierda{
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 2px solid red;
        width: 25%;
        margin-left: 20px;

        img{
            height: 60px;
            width: 60px;
            margin-right: 10px;
            background-color: white;
            border-radius: 30px;
        }

        h2{
            font-size: 1.4rem;
            border-bottom: 2px dotted $segundario;
        }

    }

    &__derecha{
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid red;
        width: 35%;

        a{
            @include botones();
            p{
                font-size: 1rem;
                color: white;
            }
            img{
                position: relative;
                top: -2px;
                left: 3px;
                height: 30px;
                width: 30px;
                background-color: $principal;
                border-radius: 3px;
            }
            &.instrucciones{

                background-color: $segundario;
                width: 30%;

                &:hover{
                    transform: scale(1.03);
                    transition: .2s ease;
                }

                &:active{
                    background-color: rgba($color: $segundario, $alpha: .5);
                    color: white;
                    transform: scale(1);
                    transition: .2s ease;
                }

            }
        }

    }

}


@media (max-width: 400px){

    .navegacion{
        // height: 23vh;
        justify-content: space-around;

        &__izquierda{
            width: 40%;
            // margin-left: 20px;

            img{
                height: 40px;
                width: 40px;
                // margin-right: 10px;
                background-color: white;
                border-radius: 50%;
            }

            h2{
                font-size: 1.2em;
                border-bottom: 2px dotted $segundario;
            }

        }

        &__derecha{
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 2px solid red;
            width: 50%;
            // background-color: yellow;

            h2{
                display: none;
            }

            a{
                // @include botones();
                // background-color: yellow;
                p{
                    font-size: .6em;
                    color: white;
                }
                img{
                    position: relative;
                    top: -2px;
                    left: 3px;
                    height: 30px;
                    width: 30px;
                    background-color: $principal;
                    border-radius: 3px;
                    margin-left: 5px;
                }
                &.instrucciones{

                    background-color: $segundario;
                    width: 48%;

                    &:hover{
                        transform: scale(1.03);
                        transition: .2s ease;
                    }

                    &:active{
                        background-color: rgba($color: $segundario, $alpha: .5);
                        color: white;
                        transform: scale(1);
                        transition: .2s ease;
                    }

                }
            }

        }

    }

}

@media (max-width: 768px){

    .navegacion{
        // height: 23vh;
        // justify-content: space-around;

        &__izquierda{
            width: 40%;
            // margin-left: 20px;

            img{
                height: 50px;
                width: 50px;
                // margin-right: 10px;
                background-color: white;
                border-radius: 50%;
            }

            h2{
                font-size: 1.2em;
                border-bottom: 2px dotted $segundario;
            }

        }

        &__derecha{
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 2px solid red;
            width: 60%;
            // background-color: yellow;

            h2{
                // display: none;
                font-size: 1.2em;
            }


        }

    }

}