@mixin stylesCommons {
    border-top: 1px dotted $principal;
    border-right: 1px dotted $principal;
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px;
    width: 85%;
    margin: 20px auto;
    box-shadow: -4px 3px 5px 0px $principal;
}

@mixin botonDesactivado {
    &.desactivado{
        cursor: no-drop;
        background-color: rgb(180, 180, 180);
        color: rgb(12, 12, 12);
        
        &:hover{
            transform: scale(1);
            transition: .2s ease;
        }
        
        &:active{
            background-color: rgb(180, 180, 180);
            color: rgb(12, 12, 12);
            transform: scale(1);
            transition: .2s ease;
        }
    
    }
}

form{

    border: 1px solid rgb(163, 163, 163);
    box-shadow: 0px 5px 5px -2px $segundario;
    border-radius: 5px;
    height: 89%;
    width: 70%;
    margin: 0 auto;
    border-top: 4px solid $principal;
    padding: 30px 50px;

    p{
        font-size: 1.3rem;
        margin-top: 0;
        font-weight: bold;
        color: $segundario;
        text-transform: uppercase;
        text-align: center;
    }

    .wrapper__input{
        // font-size: 1.4rem;
        @include stylesCommons();

        .label-cadena{
            display: block;
            padding: 10px;
            font-size: .9rem;
            width: 95%;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
        }

        .input{
            display: flex;
            position: relative;
            width: 100%;
            margin-bottom: 10px;

            input[type=text]{
                display: block;
                width: 100%;
                padding: 10px;
                font-size: 1.3rem;
                outline: none;
                border: 0;
                border-radius: 5px;
                font-family: Arial, sans-serif;
                border: 3px solid transparent;
                transition: .3s ease all;

                &:focus{
                    border: 3px solid rgb(84, 144, 255);
                    box-shadow: 3px 0px 10px  rgba($color: #000000, $alpha: 0.5);
                }
    
            }

            i{
                position: absolute;
                font-size: 1.2rem;
                top: 13px;
                right: 16px;
                opacity: 0;    
            }
            
            .sms{
                position: absolute;
                top: 60px;
                font-size: .6rem;
                margin: 0;
                padding: 0;
                display: none;
            }

            &.bien input[type=text]{
                border: 3px solid rgb(46, 243, 46);
                transition: .3s ease all;
            }

            &.bien i{
                color: rgb(68, 255, 68);
                opacity: 1;
            }

            &.bien .sms{
                color: rgb(64, 212, 64);
                display: block;
            }

            &.mal input[type=text]{
                border: 3px solid red;
                transition: .3s ease all;            
            }

            &.mal i{
                color: red;
                opacity: 1;
            }

            &.mal .sms{
                color: red;
                display: block;
            }

        }

        p{
            padding: 10px;
            font-size: .9rem;
            width: 95%;
            text-align: center;
            margin: 0 auto;
        }

        //aqui estan los estilos de la palanca
        .toggle-button{
            display: none;
            + .label-custom{
                cursor: pointer;
                display: block;
                width: 4rem;
                height: 2rem;
                background-color: white;
                margin: 0 auto;
                border-radius: 1rem;
                transition: .3s ease;
                // box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.75);
                box-shadow: inset 0 0 20px $principal;

                &:before{
                    display: flex;
                    content: "No";
                    font-weight: bold;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: $principal;
                    position: relative;
                    transition: .3s ease;
                    left: 0;
                }

                &.desactivado{
                    background-color: white;
                    box-shadow: inset 0 0 20px rgb(163, 163, 163);
                    cursor: no-drop;

                    &:before{
                        content: "";
                        background-color: gray;
                        left: 1rem;
                    }
                
                }

            }
            &:checked{
                + label{
                    background-color: white;
                    box-shadow: inset 0 0 20px rgb(31, 165, 255);

                    &:before{
                        content: "Si";
                        left: 2rem;
                        background-color: rgb(31, 165, 255);
                    }

                }

                // &.desactivado{
                //     left: 0;
                //     content: "No";
                // }

            }
            
        }

        .cargar{
            @include botones();
            margin-top: 10px;
            background-color: #1FA5FF;
            
            p{
                width: 40%;
            }

            &:hover{
                transform: scale(1.03);
                transition: .2s ease;
            }
            
            &:active{
                background-color: rgb(33, 104, 185);
                color: white;
                transform: scale(1);
                transition: .2s ease;
            }

            @include botonDesactivado();            

            // &.cargada{
            //     cursor: no-drop;
            //     background-color: rgb(107, 221, 113);
            //     color: rgb(255, 255, 255);
            //     transition: .3s ease all;

            //     &:hover{
            //         transform: scale(1);
            //         transition: .2s ease;
            //     }
                
            //     &:active{
            //         background-color: rgb(107, 221, 113);
            //         color: rgb(255, 255, 255);
            //         transform: scale(1);
            //         transition: .2s ease;
            //     }
            // }

        }

    }

    .pack-botones-sin_pasos{
        @include stylesCommons();

        .titulo__slider{
            font-size: .9rem;
            margin: 0;
        }

        //el slider de velocidad
        .contenedor_deslizable{
            /* background-color: white; */
            width: 85%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
        
            .deslizante{
                margin: 0 30px;
                width: 300px;
                height: 15px;
                -webkit-appearance: none;
                outline: none;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: inset 0 0 5px rgb(31, 165, 255);
            
                &::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color:  rgb(31, 165, 255);
                    cursor: pointer;
                    border: 3px solid black;
                    box-shadow: -407px 0 0 400px  rgb(31, 165, 255);
                }
            
            }
            
            p{
                font-size: 1.3rem;
                text-align: center;
                margin: 0;
            }

        }

        .contenedor__botones{
            // border: 1px solid firebrick;
            height: 60px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a{
                @include botones();

                &.iniciar{
                    background-color: rgb(47, 241, 47);
                    width: 100%;

                    &:hover{
                        transform: scale(1.03);
                        transition: .2s ease;
                    }
                    
                    &:active{
                        background-color: rgb(10, 80, 10);
                        color: white;
                        transform: scale(1);
                        transition: .2s ease;
                    }

                }

                // &.pausar{
                //     background-color: yellow;
                
                //     &:hover{
                //         transform: scale(1.03);
                //         transition: .2s ease;
                //     }
                    
                //     &:active{
                //         background-color: rgb(126, 126, 10);
                //         color: white;
                //         transform: scale(1);
                //         transition: .2s ease;
                //     }
                
                // }

                // &.reiniciar{
                //     background-color: yellow;
                //     width: 100%;

                //     &:hover{
                //         transform: scale(1.03);
                //         transition: .2s ease;
                //     }
                    
                //     &:active{
                //         background-color: rgb(126, 126, 10);
                //         color: white;
                //         transform: scale(1);
                //         transition: .2s ease;
                //     }
                
                // }
                
                @include botonDesactivado();
            
            }


        }

    }

    .pack-botones-pasos{
        @include stylesCommons();

        p{
            font-size: 1rem;
            margin: 24px 0;
        }       

        a{
            @include botones();
            margin: 20px 0;

            &.siguiente{
                background-color: yellow;
            
                &:hover{
                    transform: scale(1.03);
                    transition: .2s ease;
                }
                
                &:active{
                    background-color: rgb(126, 126, 10);
                    color: white;
                    transform: scale(1);
                    transition: .2s ease;
                }

            }

            @include botonDesactivado();
        
        }       

    }

}