@mixin stylesCommons {
    border-top: 1px dotted $principal;
    border-right: 1px dotted $principal;
    border-radius: 5px;
    margin: 30px 0;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: -4px 3px 5px 0px $principal;
}

form{

    border: 1px solid rgb(163, 163, 163);
    box-shadow: 0px 5px 5px -2px $segundario;
    border-radius: 5px;
    height: 83%;
    width: 70%;
    margin: 0 auto;
    border-top: 4px solid $principal;
    padding: 50px;

    h3{
        font-size: 2rem;
        margin-top: 0;
        text-align: center;
    }

    .wrapper__input{
        // font-size: 1.4rem;
        @include stylesCommons();

        .label-cadena{
            display: block;
            padding: 10px;
            font-size: 1.1rem;
            width: 100%;
            text-align: center;
        }

        input[type=text]{
            display: block;
            padding: 10px;
            font-size: 1.3rem;
            outline: none;
            border: 0;
            border-radius: 5px;
            width: 94%;
            font-family: 'Josefin Sans', sans-serif;
        }

        p{
            padding: 10px;
            font-size: 1.1rem;
            width: 100%;
            text-align: center;
            margin: 0;
        }

        //aqui estan los estilos de la palanca
        .toggle-button{
            display: none;
            + .label-custom{
                cursor: pointer;
                display: block;
                width: 4rem;
                height: 2rem;
                background-color: red;
                margin: 0 auto;
                border-radius: 1rem;
                transition: .3s ease;

                &:before{
                    display: flex;
                    content: "No";
                    font-weight: bold;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: blue;
                    position: relative;
                    transition: .3s ease;
                    left: 0;
                }

            }
            &:checked{
                + label{
                    background-color: green;

                    &:before{
                        content: "Si";
                        left: 2rem;
                        background-color: yellow;
                    }

                }
            }
        
        }

    }


    .pack-botones-pasos{
        @include stylesCommons();
    }

    .pack-botones-sin_pasos{
        @include stylesCommons();

        .contenedor_deslizable{
            /* background-color: white; */
            width: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
          }
    
          .deslizante{
            margin: 0 30px;
            width: 300px;
            height: 15px;
            -webkit-appearance: none;
            outline: none;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: inset 0 0 5px rgb(31, 165, 255);
          }
    
          .deslizante::-webkit-slider-thumb{
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color:  rgb(31, 165, 255);
            cursor: pointer;
            border: 3px solid black;
            box-shadow: -407px 0 0 400px  rgb(31, 165, 255);
          }
    
          h2{
            text-align: center;
            margin: 0;
          }
    

    }

}